<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/bulma.min.css" media="screen">
    <link rel="stylesheet" href="/css/styleTv.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Tv on: {{courseId}}</title>
</head>
<body>
    <!-- new messages view -->
    <section id="listView">
        <ul>
            <li v-for="(index, item) in items" :class="[item.highlight, item.itemLabel]" id="listViewLi{{index}}" transition="expandheight" v-cloak>
                {{item}}
            </li>
        </ul>
    </section>

    <!-- specific message view -->
    <section id="modalView">
        <div class="modal" v-el:modal>
            <div v-el:modal-background class="modal-background"></div>
            <div class="modal-container modalBox">
                <div class="box">
                    <div class="modalHeight">
                        <div class="column" v-el:modal-text></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="courseId" data-course-Id="{{courseId}}"></div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/scripts/modalView.js"></script>
    <script src="/scripts/tv/listView.js"></script>
    <script src="/scripts/tv/main.js"></script>
</body>
</html>
