<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css" rel="stylesheet"  media="screen" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/styleTv.css" rel="stylesheet" media="screen">
    <title>Tv on: {{courseId}}</title>
</head>
<body>
    <!-- new messages view -->
    <section id="listView">
        <ul>
            <li v-for="(index, item) in items" :class="[item.highlight, item.itemLabel]" id="listViewLi{{index}}" transition="expandheight" v-cloak>
                {{item}}
            </li>
        </ul>
    </section>

    <div id="modalPresentation" >
    </div>

    <template id="modalViewTemp">
        <section id="modalView">
            <div class="modal is-active" v-el:modal>
                <div v-el:modal-background class="modal-background"></div>
                <div class="modal-container modalBox">
                    <div class="box" v-el:modal-box>
                        <div class="modalHeight">
                            <div class="column" v-el:modal-text></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </template>

    <div id="courseId" data-course-Id="{{courseId}}"></div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/scripts/tv/modalView.js"></script>
    <script src="/scripts/tv/listView.js"></script>
    <script src="/scripts/tv/main.js"></script>
</body>
</html>
