body {
    background-color: #0088B5;
}

/*.teachImg{
    
    height: 200px;
}*/

.teachRes {
    background-color: seagreen;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    /*margin-top: 30px;*/
    margin: 15px;
    float: left;
  
    
}

.teachRes img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.teachRes p{
    text-align: center;
    font-weight:  bold;
}