body {
    background-color: DODGERBLUE;
}

/*.teachImg{
    
    height: 200px;
}*/

.teachResPresent {
    background-color: #ADFF2F;
    height: 250px;
    width: 250px;
    /*border: 1px solid black;*/
    margin-top: 30px;
    margin: 15px;
    float: left;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /*box-shadow:
    10px 0 100px #fff,
    10px 0 100px #0ff;   */
}

.teachResPresent img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}


.teachTextPresent {
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    min-width: 150px;
    background-color: #fff;
    /*border: 1px solid black;*/
    display: block;
}

.teachTextPresent p{
    text-align: center;
    font-weight:  bold;
    /*background-color: #fff;*/
}

/*Hej*/

.teachResNotPresent {
    background-color: #B22222;
    height: 250px;
    width: 250px;
    /*border: 1px solid black;*/
    margin-top: 30px;
    margin: 15px;
    float: left;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /*box-shadow:
    10px 0 100px #fff,
    10px 0 100px #0ff;   */
}

.teachResNotPresent img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}


.teachTextNotPresent {
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    min-width: 150px;
    background-color: #fff;
    /*border: 1px solid black;*/
    display: block;
}

.teachTextNotPresent p{
    text-align: center;
    font-weight:  bold;
    /*background-color: #fff;*/
}

