body {
    background-color: white;
    background-image: url("bg2.png")
    
}

.teachResPresent {
    border-radius:5px;
    background-color: #F6F6F6;
    margin-top: 30px;
    margin: 45px;
    float: left;
    box-shadow: 0 0 40px 0.6px rgba(0,255,0,1);
    width:250px;
    padding-top:18px;
    animation: pulseGreen 4s ease-in-out infinite;
}
.test{
    float:left;
}
.teachResNotPresent {
    border-radius:5px;
    background-color: #F6F6F6;
    margin-top: 30px;
    margin: 45px;
    float: left;
    box-shadow: 0 0 30px 0.6px rgba(255,0,0,1);
    width:250px;
    padding-top:18px;
    -webkit-filter: brightness(0.65)
    /*animation: pulseRed 8s ease-in-out infinite;*/
    /*opacity:0.5;*/
    
    
}

.teachResPresent img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width:200px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /*-webkit-box-shadow: 0 0 40px 8px rgba(0,255,0,0.5);*/
    /*box-shadow: 0 0 40px 8px rgba(0,255,0,0.5);*/
    
    
  
}
.teachResNotPresent img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width:200px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /*-webkit-box-shadow: 0 0 40px 8px rgba(255,0,0,0.5);*/
    /*box-shadow: 0 0 40px 8px rgba(255,0,0,0.5);*/
    background:black;
  
  
}


.teachTextPresent {
    margin-left: auto;
    margin-right: auto;
    width:200px;
    background-color: #E5E5E5;
    display: block;
}

.teachTextPresent p{
    color:#101010;
    font: normal 24px/1 "Trebuchet MS", Helvetica, sans-serif;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 15px;
    border: none;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) inset;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) inset;
}


@-webkit-keyframes pulseRed {
  50% {
      -webkit-box-shadow: 0 0 30px 0.5px rgba(180,0,0,0.8);;
  }
}

@keyframes pulseRed {
  50% {  box-shadow: 0 0 30px 0.5px rgba(180,0,0,0.8); }
}

@-webkit-keyframes pulseGreen {
  50% {
      -webkit-box-shadow: 0 0 40px 0.5px rgba(0,200,0,0.8);;
  }
}

@keyframes pulseGreen {
  50% { 
           box-shadow: 0 0 40px 0.5px rgba(0,200,0,0.8);
      }
}
