
[v-cloak] {
    display: none;
}

.largeBox{
    max-height: 100vh;
    height: 90vh;
    width: 94vw;
    font-size: 2.5vw;
    overflow: hidden;
}

.pulse {
    animation-name: pulseAnim;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

@keyframes pulseAnim {
    0% {
        background-color: rgba(0, 0, 0, 0.86);
    }
    100% {
        background-color: rgba(237,108,99, 0.86);
    }
}

.modalHeight2 {
    height: 80vh;
    font-size: 2.5vw;
}

.modalBox{
    z-index: 1;
    max-width: 94vw;
}

#listView {
    margin-top: 16px;
}

#listView li {
    background: white;
    max-height: calc(100vh / 4);
    /*height: calc(100vh / 5);*/
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
}

.warningLabel{
    border-top: 6px solid rgba(237,108,99, 0.86);
    color: black;
}

.questionLabel{
    color: black;
    border-top: 6px solid rgb(66, 175, 227);
}

.myHighlight{
    background: #E3E4E6 !important;
}

.expandheight-transition {
    transition: all .3s ease;
    height: 20vh;
    padding: 8px 0px;
    overflow: hidden;
}

.expandheight-enter, .expandheight-leave {
    height: 0px;
    padding: 0px 0px;
    opacity: 0;
}
